<!DOCTYPE html>
<html lang="lv-LV">

<head>
    <title>Start(it)</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../css/custom.css" media="screen" title="no title" charset="utf-8">
    <link rel="icon" href="../images/Start(IT)SmallLogo.png">

</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html"><img src="../images/Start(IT)Logo.png" alt="Start(IT)"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../index.html">Sākums<span class="sr-only">(current)</span></a></li>
                    <li class="dropdown active">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pirmā diena
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../views/Git.html">GIT</a></li>
                            <li><a href="../views/VSCode.html">VSCode</a></li>
                            <li><a href="../views/AgileScrum.html">Agile/Scrum</a></li>
                            <li class="active"><a href="HtmlTags.html">HTML tags</a></li>
                            <li><a href="../views/CssSelektori.html">CSS Selektori</a></li>
                        </ul>
                    </li>
                    <li><a href="../views/PlainJavaScript.html">Plain JavaScript</a></li>
                    <li><a href="../views/JavaScriptDom.html">JavaScript + DOM</a></li>
                    <li><a href="../views/MacibuMetodologija.html">Mācību Metodoloģija</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div id="wrap">
        <div id="main">
            <div class="container theme-showcase lead text" role="main">
                <h1 class="cover-heading text-center">HTML elementi</h1>
<p>
    Šodien mēs iemācījāmies kas ir HTML elementi un kā ar tiem darboties.<br>
    Mēs jau esam paspējuši apskatīt tādus HTML elementus, kā: <br>
    <ul>
        <li>Konteiners "< div >" </li>
        <li>Virsraksts "< h1 >, < h2 >,< h6 >"</li>
        <li>Rindkopa "< p >"</li>
        <li>Atribūts "< a >"</li>
        <li>Rindas atdalītājs "< br >"</li>
    </ul>
    Tagad apkskatīsim vēl šos elementus:
    <ol>
        <li>Nenumurēts saraksts "< ul >"</li>
        <li>Saraksta objekts "< li >"</li>
        <li>Numurēts saraksts "< ol >"</li>
        <li>Attēls "< img >"</li>
        <img src="../images/Start(IT)Logo.png" alt="Start(IT)" width="104">
        <li>Poga "< button >"</li>
        <button>Uzspied</button>
        <li><b> Teknraksts </b>"< b >"</li>
    </ol>
        Vairāk informācijas par visiem HTML elementiem mēs varam atrast 
        <a href="https://www.w3schools.com/html/default.asp"> w3schools </a> mājaslapā.
    </p>
       <p>
            Sed mauris odio, sodales at lacus et, consequat efficitur enim. In volutpat molestie sem at faucibus. Fusce elementum eros vel magna consectetur, non interdum nunc auctor. Cras in lacus non metus molestie rhoncus a nec felis. Praesent ornare magna ac porttitor tempor. Aenean sed feugiat nulla, non euismod ante. Maecenas quis sagittis enim, in auctor nisl. Etiam et efficitur eros.
</p><p>
            Donec lorem massa, accumsan in diam vel, facilisis rhoncus est. Cras imperdiet euismod nisl, vel maximus eros tristique ut. Fusce sapien mauris, viverra eu elit a, ullamcorper blandit libero. Donec eget est eu leo congue sollicitudin. Praesent a mollis enim. Pellentesque sit amet metus ut est hendrerit molestie. Praesent in cursus nisi, eget dapibus urna. Mauris cursus orci eu quam imperdiet mollis. Proin vitae ultricies eros. Proin sit amet purus erat. Donec feugiat ligula id sem ullamcorper, sagittis aliquet nulla convallis. Vivamus nec lobortis orci, a hendrerit mauris.
       </p> 
    
            </div>
        </div>
    </div>
</body>

<footer class="mastfoot mt-auto container-fluid text-center bg-lightgray">
    <div class="copyrights">
        <p>Start(IT) © 2019
            <br>
            <span>Izstrādātājs: Komanda xxx</span>
            <br>
            <span>Īpašnieks: Start(IT)</span>
            <br>
            <span>VEF Kultūras pils</span>
        </p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="../javaScript/bootstrap.min.js"></script>
<script type="text/javascript" src="../javaScript/custom.js"></script>

</html>